<html>
<head>
    <title>Dojo Fruit Store Assignment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>

<body>
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Friend!</h1>
                <p class="lead text-muted"> Hello, isn't that friend's car? - Ooh, new-rims car friend! I'll show you how much of a friend he is.</p>
            </div>
        </section>
        <div class="album py-5">
            <div class="container">
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Occupation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for friend in friends %}
                            <tr>
                                <td>{{friend['first_name']}}</td>
                                <td>{{friend['last_name']}}</td>
                                <td>{{friend['occupation']}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <form action='/create_friend' method='POST'>
                    <h4 class="mb-3" id='info'>Your Information</h4>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="first_name">Friend's First Name</label>
                            <input type="text" class="form-control" name="first_name" placeholder="John" value="">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="last_name">Friend's Last Name</label>
                            <input type="text" class="form-control" name="last_name" placeholder="Doe" value="">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="occupation">Friend's Occupation:</label>
                        <input type="text" class="form-control" name="occupation" placeholder="Dentist">
                    </div>

                    <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
                </form>


            </div>
        </div>

    </main>

</body>

</html>